currencyApp/src/app/components/output/output.component.html

<p class="control"><span class="select">
    <select (input)="newPair($event.target.value)">
      <option *ngFor="let rate of contentManagerService.keysNoBase">{{rate}}</option>
    </select></span></p>
<div class="control">
  <input class="input is-full-width" type="number" placeholder="Converted output" disabled="disabled" [(ngModel)]="contentManagerService.exchangeResult"/>
</div>

currencyApp/src/app/components/output/output.component.pug
p.control
  span.select
    select((input)="newPair($event.target.value)")
      option(*ngFor="let rate of contentManagerService.keysNoBase")
        |{{rate}}
.control
  input.input.is-full-width(type="number", placeholder="Converted output", disabled, [(ngModel)]="contentManagerService.exchangeResult")
